Repository felix-kaestner/Babel-Plugin-Transform-Strip-Block, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
    - ./*

# Add 'test' label to any change to files within the `test` dir
test:
    - test/**/*

# Add 'source' label to any change to src files within the source dir
source:
    - src/**/*

Add publish config
  package.json
  yarn.lock
Labels: repo

Fix Node Version Constraint
  package.json
Labels: repo

Release v0.0.2
  package.json
Labels: repo

Create LICENSE
  LICENSE
Labels: repo

Fix dependencies
  package.json
Labels: repo

Fix Homepage
  package.json
Labels: repo

Fix Version Command
  package.json
Labels: repo

v0.0.3
  package.json
Labels: repo

feat: strip multiple properties in ObjectExpression
  package.json
  src/index.js
  test/fixtures/strip-annotation/object-properties-assignment/code.js
  test/fixtures/strip-annotation/object-properties-assignment/output.js
Labels: repo, test, source

v0.0.4
  package.json
Labels: repo

replace path.skip() with path.stop()
  src/index.js
Labels: source

chore: update dependencies
  package.json
  yarn.lock
Labels: repo

replace path.skip() with path.stop() (#6)
  src/index.js
Labels: source

feat: add @pika/plugin-build-web
  package.json
  yarn.lock
Labels: repo

chore: specify npm registry in publishConfig
  package.json
Labels: repo

v0.0.5
  package.json
Labels: repo
